/* body{
    background-image: url("pexels-lukas-590041.jpg");
    display: cover;
} */
.signin-box{
    background-color:grey;
    width: 35rem;
    height: 35rem;
    padding: 2rem;
    margin: auto;
    border-radius: 10px;
}
.signin-box h1{
    color: red;
    /* padding: 1.5rem; */
    text-align: center;
    border-bottom: 0.125rem red dashed;
    margin-bottom: 0;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}
.signin-box h3{
    text-align: center;

}

.form-details{
    padding: 1rem;
    font-size: 1.3rem;
}

input{
    width: 100%;
    margin-bottom: .8rem;
    border-radius: 6px;
    font-size: medium;
    background-color: aqua;
}

.form-btn{
    font-size: 1rem;
    width: 7rem;
    margin: auto;
}

.btn{
    width: 100%;
    background-color: blue;
    border-radius: 1.5rem;
    padding: 0.55rem 1rem;
    border: 1px red solid;
}
.already-Login{
    text-align: center;
}

